.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.about-image {
  width: 250px;
}

.description {
  font-size: 25px;
  font-family: 'roboto';
  color: #551e53;
  margin-top: 5px;
}

.about {
  font-size: 50px;
  font-family: 'roboto';
  color: #551e53;
  font-weight: 600;
}
